.Table
    border-collapse: collapse
    background-color: lightgray
    width: 100%
    > tr
        > th,
        > td
            border: solid 2px #3d70b2
            box-sizing: border-box
            padding: 8px
            font-weight: bold
            cursor: pointer
        > th
            background: #5596e6
        > td
            background: #f5f7fa